<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.world_bank_v4">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaGenericaActivity"></activity>
        <activity
            android:name=".MostraPngSalvatoPrecedentemente"
            android:label="@string/title_activity_mostra_png_precedentemente_salvata"></activity>
        <activity
            android:name=".CaricaDati"
            android:label="@string/title_activity_carica_dati"></activity>
        <activity
            android:name=".GraficoActivity"
            android:label="@string/title_activity_grafico"></activity>
        <activity
            android:name=".ListaIndicatoriActivity"
            android:label="@string/title_activity_lista_indicatori"></activity>
        <activity
            android:name=".ListaArgomentiActivity"
            android:label="@string/title_activity_lista_argomenti"></activity>
        <activity
            android:name=".ListaPaesiActivity"
            android:label="@string/title_activity_lista_paese_activity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>