<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.world_bank_v4">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GraficoActivity"
            android:label="@string/title_activity_grafico"
            android:parentActivityName=".ListaIndicatoriActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaIndicatoriActivity" />
        </activity>
        <activity
            android:name=".ListaIndicatoriActivity"
            android:label="@string/title_activity_lista_indicatori"
            android:parentActivityName=".ListaArgomentiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaArgomentiActivity" />
        </activity>
        <activity
            android:name=".ListaArgomentiActivity"
            android:label="@string/title_activity_lista_argomenti"
            android:parentActivityName=".ListaPaesiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaPaesiActivity" />
        </activity>
        <activity
            android:name=".ListaPaesiActivity"
            android:label="@string/title_activity_lista_paese_activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>